name: Build and test

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-18.04
    env:
      DOTNET_NOLOGO: true

    steps:
    - name: Check out our repo
      uses: actions/checkout@v3

    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x

    - name: Build
      run: |
        ./build.sh
